<h1>Browse Timelines</h1>

<ul data-role="listview" data-theme="s" class="presentationList ui-grid-a" id="slideshow_list_b">

<%
@timelines.each do |timeline|
%>
<li data-inline="true" data-theme="s">
    <a href="/timelines/<%=timeline.id%>" rel="external">
      <span class="imgContainer">
        <img src="http://www.wired.com/wiredenterprise/wp-content/uploads/2013/07/ff_googleinfrastructure_large.jpg" style="height:100px;"/>
      </span>
      <p>
        <span class="title"><strong><%=timeline.description%></strong></span>
        <span class="from">by <%=timeline.user.username%></span><br /><span class="views">18389 views</span>
      </p>
      </a>
  </li>
<%
   end
   %>
</ul>

<%= link_to "More", 
    { :controller => "public", :action => "preview" },
      :method => 'post',
    :update => 'slideshow_list_b', 
    :remote => true %>
